{{define "done"}}
<div class="container">
  <div class="notification is-primary">
    <h3>Job enqueued!</h3>
    <p>UUID:
      <a href="/job/{{.}}">{{.}}</a>
    </p>
  </div>
</div>
<br>
<br>
{{end}}
