{{define "css"}}
<style>
.responsive-label {
  align-items: center;
}
input, textarea {
  width: 85%;
}

input[type="datetime-local"] {
  box-sizing: border-box;
  background: var(--input-back-color);
  color: var(--input-fore-color);
  border: .0625rem solid var(--input-border-color);
  border-radius: var(--universal-border-radius);
  margin: calc(var(--universal-margin) / 2);
  padding: var(--universal-padding) calc(1.5 * var(--universal-padding));
}
</style>
{{end}}
