{{define "input"}}
{{$id := randID}}
<div class="field">
  <label class="label" for="{{$id}}">{{.Label}}</label>
  <div class="control">
    <input
      required
      class="input"
      type="{{.Type}}"
      id="{{$id}}"
      name="{{.Name}}"
      placeholder="{{.Placeholder}}"
      value="{{.Value}}"/>
  </div>
</div>
{{end}}
