{{define "textarea"}}
{{$id := randID}}
<div class="field">
  <label class="label" for="{{$id}}">{{.Label}}</label>
  <div class="control">
    <textarea
      required
      class="textarea"
      name="{{.Name}}"
      id="{{$id}}"
      placeholder="{{.Placeholder}}"
    ></textarea>
  </div>
</div>
{{end}}
