<!DOCTYPE html>
<html>
{{template "head"}}
<body>

{{template "navbar"}}

{{template "hero" "Queue handler|Compile the form below. We will forward your job when the time comes" | toHero}}

{{if .Error -}}
  {{template "error" .Error}}
{{- end}}

{{if .Done -}}
  {{template "done" .Done}}
{{- end}}

<div class="container">
{{template "form"}}
</div>
</body>
</html>
