<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "navbar"}}

{{template "hero" "Job|Review or delete" | toHero}}

{{$id := randID}}
{{$done := .Status | isDone}}

<script>
function job(uuid, action) {
  if (!window.confirm('Are you sure?')) {
    return
  }
  window.location.href = window.location.href.split('?')[0] + '?action=' + action
}
</script>

<div class="container">
  <div class="table-container">
    <table class="table", id="{{$id}}">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{.Name}}</td>
        </tr>
        <tr>
          <th>Endpoint</th>
          <td>{{.Endpoint}}</td>
        </tr>
        <tr>
          <th>Payload</th>
          <td>{{.Payload}}</td>
        </tr>
        <tr>
          <th>Due</th>
          <td>{{.Due}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{.Status}}</td>
        </tr>
        <tr>
          <th>Retries</th>
          <td>{{.Retries}}</td>
        </tr>
        <tr>
          <th>ContentType</th>
          <td>{{.ContentType}}</td>
        </tr>
        <tr>
          <th>HTTPOkStatus</th>
          <td>{{.HTTPOkStatus}}</td>
        </tr>
        <tr>
          <th>UUID</th>
          <td>{{.UUID}}</td>
        </tr>
      </tbody>
    </table>

    <button
      class="button is-success"
      {{if $done}}disabled{{end}}
      onclick="job('{{.UUID}}', 'do')"
    >Do ASAP</button>
    <button
      class="button is-danger"
      onclick="job('{{.UUID}}', 'del')"
    >Forget about it</button>

  </div>

</div>
</body>
</html>
