<!DOCTYPE html>
<html>
{{template "head"}}
<body>
{{template "navbar"}}

{{template "hero" "Job|Review or delete" | toHero}}
{{$id := randID}}

<script>
// todo
</script>

<div class="container">
  <div class="table-container">
    <table class="table is-striped", id="{{$id}}">
      <caption>Showing the job</caption>

      <thead>
        <tr>
          <th>Name</th>
          <th>Endpoint</th>
          <th>Payload</th>
          <th>Due</th>
          <th>Status</th>
          <th>Retries</th>
          <th>ContentType</th>
          <th>HTTPOkStatus</th>
        </tr>
      </thead>

      <tbody>
        {{template "jobRow" .}}
      </tbody>
    </table>

    <button class="button is-success">Do ASAP</button>
    <button class="button is-danger">Forget about it</button>

  </div>

</div>
</body>
</html>
