{{define "navbar"}}
{{$id := randID}}
<div class="tabs">
  <ul>
    <li id="li-home-{{$id}}">
      <a href="/">Queuer</a>
    </li>
    <li id="li-jobs-{{$id}}">
      <a href="/jobs">Jobs</a>
    </li>
  </ul>
</div>
<script>
(function () {
  if (window.location.href.split('?')[0].split('/').pop() === '') {
    document.querySelector('#li-home-{{$id}}').classList.add('is-active')
  } else {
    document.querySelector('#li-jobs-{{$id}}').classList.add('is-active')
  }
})()
</script>
{{end}}
