{{define "navbar"}}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand"></div>
  <div class="navbar-menu">
    <a class="navbar-item" href="/">
      Home
    </a>
    <a class="navbar-item" href="/jobs">
      Jobs
    </a>
  </div>
</nav>
{{end}}
